* {
 box-sizing: border-box;
}

body {
 font-family: 'Roboto', sans-serif;
 background-image: url('https://st.depositphotos.com/3332767/4585/i/600/depositphotos_45855923-stock-photo-shopping-cart-with-various-groceries.jpg');
 
}

button, input[type="text"] {
 padding: 5px;
}

button:hover {
 cursor: pointer;
}

#shopping-list-item {
 width: 250px;
 
}

.container {
 max-width: 600px;
 margin: 0 auto;
}

.shopping-list {
 list-style: none;
 padding-left: 0;
 /* color: blue; */
}

.shopping-list > li {
 margin-bottom: 20px;
 border: 1px solid black;
 padding: 20px;
}

.shopping-item {
 display: block;
 color: #2340FA;
 font-style: italic;
 font-size: 20px;
 margin-bottom: 15px;
}

.shopping-item__checked {
 text-decoration: line-through;
}